a {
  color: white;
}

a:hover {
  color: red;
}

.link {
  font-weight: bold;
}

body {
    background-color: #F8F9FA;
}

.nav-item {
    padding-left: 10px;
}

.subtitle {
  font-size: small;
  font-weight: normal;
  color: darkgrey;
  font-style: italic;
}

h5{
  font-weight: normal;
}

#content{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  margin-top: 2%;
}

#coin_option, #currency_option, #time_option{
  width: 20%;
}

#crypto_input{

}

#chartparam{
  margin-top: 5px;
}

.data-window {
  .background-color: red;
}

.coindata {
  font-size: sm;
  height: 70vh !important;
  overflow: scroll;
}

.portfolio-data {
  font-size: sm;
  height: 50vh !important;
  overflow: scroll;
}


.data_header{
  background-color: firebrick;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
}

.data_content{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  border-color: firebrick;
}

.data_content:hover{
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-radius: 0px;
  border-color: indianred;
  background-color: indianred;
  color: white;
}

#value_box{
  /* background: rgba(200,255,200,1); */
  background-color: white;
  color: grey;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 100%;

}


#myplot{
  width: 100%;
  /* min-height: 30vh; */
}

.fade_in{
  opacity: 1;
  animation: fade-in 0.5s linear;
}

.fade_out{
  opacity: 0;
  animation: fade-out 0.5s linear;
}


@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

.custom-select{

}

#loadingmessage{
  color: "red";
}
