{% extends "base.html" %}

{% block heading %}
  {{ resources | safe }}
{% endblock %}


{% block body %}

  <div class="container" id="content">
        <h5>Crypto Data</h5>

        <div id="myplot"></div>

        <form id="chartparam">
          <div class="form-group row">

                <select class="custom-select form-control" id="coin_option" style="margin-left: 10%;">
                  {% for crypto in crypto_options %}
                    <option value="{{ crypto.ticker }}">{{ crypto.ticker }}</option>
                  {% endfor %}
                </select>

                <select class="custom-select form-control" id="time_option" style="margin-left: 10%;">
                  {% for time_option in time_options %}
                    <option value="{{ time_option }}">{{ time_option }}</option>
                  {% endfor %}
                </select>

                <select class="custom-select form-control" id="currency_option" style="margin-left: 10%;">
                  {% for currency_option in currency_options %}
                    <option value="{{ currency_option }}">{{ currency_option }}</option>
                  {% endfor %}
                </select>

          </div>

      </form>

  </div>

  <div class="container">

    {% if coin_data %}
      <h5>Top 100<div class="subtitle">prices in USD / BTC share: {{ market_data.btc_share }} / Total Market Cap: {{ market_data.total_market_cap }} / Volume 24h: {{ market_data.total_volume }} / M.Cap. and Volume in M</div></h5>
        <div class="row data_header">
          <div class="col-1">
            <a href="/crypto">#</a>
          </div>
          <div class="col d-none d-lg-block d-xl-block" style="text-align: left;">
            <a href="/crypto?sort_by=name">Name</a>
          </div>
          <div class="col" style="text-align: center;">
            <a href="/crypto?sort_by=symbol">Ticker</a>
          </div>
          <div class="col d-none d-lg-block d-xl-block">
            <a href="/crypto?sort_by=market_cap">M.Cap.</a>
          </div>
          <div class="col d-none d-lg-block d-xl-block">
            <a href="/crypto?sort_by=volume">Volume</a>
          </div>
          <div class="col">
            <a href="/crypto?sort_by=market_cap">Price</a>
          </div>
          <div class="col">
            <a href="/crypto?sort_by=change_1h">1h</a>
          </div>
          <div class="col">
            <a href="/crypto?sort_by=change_24h">24h</a>
          </div>
        </div>
    </div>
    <div class="container coindata">
        {% for coin in coin_data %}
          <div href="" onclick="fetch_plot('{{ coin.symbol }}');return false;" class="row data_content" style="text-align: right;">
            <div class="col-1">
              {{ coin.cmc_rank }}
            </div>
            <div class="col link d-none d-lg-block d-xl-block" style="text-align: left">
              {{ coin.name }}
            </div>
            <div class="col" style="text-align: center;">
              {{ coin.symbol }}
            </div>
            <div class="col d-none d-lg-block d-xl-block">
              {{ coin.market_cap_str }}
            </div>
            <div class="col d-none d-lg-block d-xl-block">
              {{ coin.volume_str }}
            </div>
            <div class="col">
              {{ coin.price_str }}
            </div>
            <div class="col">
              {{ coin.change_1h }}
            </div>
            <div class="col">
              {{ coin.change_24h }}
            </div>
          </div>
        {% endfor %}
    {% endif %}
  </div>

</div>

      <script>

            document.addEventListener('DOMContentLoaded', () => {
              fetch_plot(0);
            });

            function fetch_plot(sym){

                  document.getElementById("myplot").classList.remove('fade_in');

                  var coin_sel;
                  if (!sym)
                    coin_sel = document.getElementById('coin_option').value;
                  else
                    coin_sel = sym;
                  // console.log("Selection: ", coin_sel);
                  document.getElementById('coin_option').value=coin_sel;

                  var time_sel = document.getElementById('time_option');
                  var curr_sel = document.getElementById('currency_option');
                  //console.log(time_sel.value);

                  var url = "/crypto_plot?coin_option=" + coin_sel + "&time_option=" + time_sel.value + "&currency_option=" + curr_sel.value;
                  fetch(url)
                    .then(function(response) { return response.json(); })
                    .then(function(item) { document.getElementById("myplot").classList.add('fade_in'); document.getElementById("myplot").innerHTML = "";Bokeh.embed.embed_item(item); })
                  // window.history.pushState('page', 'Title', '/');


              }

              // attach onchange event to form
              document.getElementById("chartparam").addEventListener("change", function (){
                fetch_plot(0);
              });

       </script>

{% endblock %}
