{% extends "base.html" %}

{% block body %}
<div id="content" class="container">
  <h2>Registration</h2>
  {% if message %}
          {{ message }}
  {% endif %}

  <br>

  <form action="{% url 'register' %}" method="post">
    <br>
      {% csrf_token %}
        Username: <input class="form-control" name="username" type="text" placeholder="username" required>
        Password: <input class="form-control" name="password" type="password" placeholder="password" required>
        <!--First name: <input class="form-control" name="first_name" type="text"  placeholder="John" required>-->
        <!--Last name: <input class="form-control" name="last_name" type="text" placeholder="Doe" required>-->
        Email: <input class="form-control" name="email" type="email" placeholder="JohnDoe@gmail.com">
        <br>
        <button class="btn btn-danger">Register</button>
  </form>

</div>
{% endblock %}
